name: E2E Ecart Test Automation Pipeline


on: 
  push:
    branches:
      - main
  workflow_dispatch: {}

jobs:
  e2e-test-ecart-app-flow:
    timeout-minutes: 60
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repo
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: '3.13'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Ensure browsers are installed
        run: python -m playwright install --with-deps

      - name: Run your tests
        env:
          ENV: dev
          USERNAME: ${{ secrets.USERNAME }}
          PASSWORD: ${{ secrets.PASSWORD }}
        run: |
          pytest -v --env=dev --username="${{ secrets.USERNAME }}" --password="${{ secrets.PASSWORD }}" 


      - name: Generate Allure Report
        run: |
          allure generate allure-results --clean -o allure-report
      
  